# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
libmanenv/

# Byte-compiled / optimized / DLL files
__pycache__/

.pytest_cache/

# Flask stuff:
instance/
.webassets-cache

#other
.vscode/